* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 0 auto;
}
.container-header{
    


}

.d-flex{
    display: flex;
    padding: 1rem;
    flex-grow: 1;
    
    
    
}

.col-header-small {
    flex-grow: 1;
    background-color: orange;
    font-size: 0.6rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
   
}

.col-header-large{
    flex-grow: 2;
    background-color: orange;
    text-align: center;
    padding-top: 12px;
  
}

.logo-header{
    width: 100px;
    
}
.icons{
    width: 12px;
    fill: white;
}

.row{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.col{
    flex-basis: calc((100% - 2rem) / 3)
    
}

.product{
    position: relative;
}

.product-img{
    width: 100%;
}
.product-price{
    color: red;
}

.product .product-discount{
    position: absolute;
    bottom: 60px;
    left: 0;
    background: red;
    color: white;
    font-size: 0.8rem;
    padding: 4px 4px;
}

.product .product-label{
    position: absolute;
    bottom: 60px;
    left: 40px;
    background: green;
    color: white;
    font-size: 0.8rem;
    padding: 4px 4px;
}

.product .product-label-special{
    position: absolute;
    bottom: 60px;
    left: 0px;
    background: green;
    color: white;
    font-size: 0.8rem;
    padding: 4px 4px;
}

.product .product-price-barrato{
    position: absolute;
    bottom: 0;
    left: 40px;
    font-size: 0.8rem;
    text-decoration: line-through;
}  
.product .product-favorite {
    position: absolute;
    top: 4px;
    right: 0px;
    padding: 8px 10px;
    background: white;
}
.product .product-favorite:hover{
    color: red;

}

.product .product-img-hover{
    display: none;
    width: 100%;
}
.product:hover .product-img-hover{
    display: block;
}

.product:hover .product-img-default{
    display: none;
}

.d-flex-footer{
    min-height: 120px;
    display: flex;
    padding: 1rem;
    flex-grow: 1;
}

.col-small-footer{
    flex-grow: 1;
    background-color: black;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.col-large-footer{
    flex-grow: 2;
    background-color: black;
    text-align: center;
    padding-top: 12px;
    color: white;
}

.icons-footer{
    fill: white;
    width: 20px;
}